.button a  {
    @include button;
    span {
        @include button-span;
        &:before {
            @include button-span-before;
        }
        &:after {
            @include button-span-after;
        }
    }
    &:hover {
        background: #ed1b24;
        border: 1px solid #fff;
        color: #fff;
        span {
            @include button-span-hover;
            &:before {
                @include button-span-hover-before;
            }
            &:after {
                @include button-span-hover-after;
            }
        }
    }
    
}
.submit {
    @include button;
    cursor: pointer;
    margin-top: 13px;
    span {
        @include button-span;
        &:before {
            @include button-span-before;
        }
        &:after {
            @include button-span-after;
        }
    }
    &:hover {
        background: #ed1b24;
        border: 1px solid #fff;
        color: #fff;
        span {
            @include button-span-hover;
            &:before {
                @include button-span-hover-before;
            }
            &:after {
                @include button-span-hover-after;
            }
        }
    }
}