$Light : 'Roboto-Light';
$Regular : 'Roboto-Regular';
$Medium : 'Roboto-Medium';
$Titillium-Thin : 'Titillium-Thin';
$Titillium-Light : 'Titillium-Light';
$Titillium-Regular : 'Titillium-Regular';
$Titillium-Semi : 'Titillium-SemiBold';
$Titillium-Bold : 'Titillium-Bold';
$Lato-Light : 'Lato-Light';
$Lato-Regular : 'Lato-Regular';
$Lato-Medium : 'Lato-Medium';